<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Garage Sale</h5>
          <p>
            <img src="{{garageSale.image}}">
          <p>
          <p>
            <strong>Name</strong>: {{garageSale.name}}</p>
          <p>
          <strong>Address</strong>: <a href="https://maps.google.com/?q={{garageSale.address}}" target="_blank">{{garageSale.address}}</a>
          <p>
            <strong>Time of Sale</strong>: {{garageSale.time}}</p>
          <p>
            <strong>Categories:</strong> {{garageSale.categories}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
